.topHorizontalSeparator {
    height: 2px;
    background: var(--separator-color);
    margin-top: 20px;
    width: 750px;
    margin-left: -15px;
}

.personalInfo {
    font-family: var(--small-font-family);
    margin-top: 20px;
    padding-left: 20px;
    margin-right: 20px;
    width: 50%;
}

.footerLayout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.headshot {
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 50%;
    width: 150px;
    height: 160px;
}

.contactLinks {
    display: flex;
}

.contactList {
    list-style: none;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.contactListItem {
    margin-right: 20px;
    padding-bottom: 10px;
    position: relative;
}

.contactListItem:before, .contactListItem:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
}

.contactListItem:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.contactListItem:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contactListItem:hover:before, .contactListItem:hover:after, .contactListItem:focus:before, .contactListItem:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.contactListItem:hover:before, .contactListItem:focus:before {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contactListItem:hover:after, .contactListItem:focus:after {
    -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.donateButton {
    cursor: pointer;
    border: none;
    margin-left: -7px;
}

/* TODO fix this somehow */
.p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.feedbackBoxes {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
    margin-top: 40px;
}

.donateBox {
    border: white;
    border-style: solid;
    height: 260px;
    width: 350px;
    border: none;
    background-color: #889194;
}

.footerMoneyPlea {
    text-align: center;
    font-family: var(--small-font-family);
    font-size: 18px;
    width: 300px;
    margin: auto;
    color: var(--footer-color);
}

.emailSubscribeBox {
    border: white;
    border-style: solid;
    height: 260px;
    width: 350px;
    border: none;
    background-color: #505557;
    text-align: center;
}

.emailSubscribeHeader {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--big-font-family);
}

.emailSubscribeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    margin: auto;
    font-family: var(--small-font-family);
}

.emailInput {
    font-family: var(--small-font-family);
    font-size: 18px;
    margin-top: 16px;
    border-radius: 5px;
    border-style: unset;
    text-align: center;
    background-color: #212324;
    color: white;
}

.emailSubscribeButton {
    font-family: var(--small-font-family);
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    background-color: #212324;
    color: #ffffff;
    transition: transform .2s;
}

.emailSubscribeButton:hover {
    transform: scale(1.1);
}

.emailSubscribeText {
    font-size: 19px;
    margin-top: 15px;
    color: var(--footer-color);

}

.emailSubscriptionStatusText {
    margin: 2px;
    color: black;
    height: 26px;
}

.emailSubscribeStatus {
    border-radius: 5px;
    border-style: unset;
    text-align: center;
    height: 26px;
    width: 200px;
    align-self: center;
    transition: all 240ms ease-in-out;
    z-index: 1;
    margin-bottom: -38px;
    position: relative;
    top: -26px;
    text-align: center;
}

.arrowDown {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    margin-top: -5px;
    left: 50%;
    margin-left: 45%;

    border-top-color: inherit;
    display: inherit;
    transition: all 10ms ease-out;
    

    border-top-width: 10px;
    border-top-style: solid;
  }

.emailSubscribeStatusLoading {
    background-color: var(--loading-color);
    border-top-color: var(--loading-color);
}

.emailSubscribeStatusError {
    background-color: var(--error-color);
    border-top-color: var(--error-color);
}

.emailSubscribeStatusInvalid {
    background-color: var(--warning-color);
    border-top-color: var(--warning-color);
}

.emailSubscribeStatusSuccess {
    background-color: var(--success-color);
    border-top-color: var(--success-color);
}

.emailSubscribeStatusNone {
    background-color: var(--empty-color);
    border-top-color: var(--empty-color);
}

.bottomHorizontalSeparator {
    height: 1px;
    background: var(--separator-color);
    margin-top: 30px;
}

.footerText {
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .topHorizontalSeparator {
        height: 2px;
        background: var(--separator-color);
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
    }

    .headshot {
        margin-top: 15px;
        margin-right: 20px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .personalInfo {
        font-family: var(--small-font-family);
        margin-top: 10px;
        padding-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .footerLayout {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        margin-left: 3px;
        margin-right: 3px;
    }

    .topHorizontalSeparator, .bottomHorizontalSeparator {
        margin-top: 0px;
    }

    .contactLinks {
        flex-direction: row;
    }

    .contactListItem {
        float: left;
        padding-right: 5px;
    }

    .feedbackBoxes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 600px;
        align-items: center;
    }

    .footerText {
        margin-bottom: 0px;
    }
}