.headerContent {
    padding-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}

.logoRow {
    padding-right: 6px;
    display: flex;
}

.title {
    display: flex;
    justify-content: space-between;
    background-size: cover;
    width: 350px;
    height: 40px;
    cursor: pointer;
    background-image: url("/static/large-logo.png");
}

.navItem {
    text-decoration: none;
    font-family: var(--big-font-family);
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.navItem:before, .navItem:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
}


.navItem:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.navItem:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navItem:hover:before, .navItem:hover:after, .navItem:focus:before, .navItem:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.navItem:hover:before, .navItem:focus:before {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navItem:hover:after, .navItem:focus:after {
    -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-bottom: 5px;
    margin-top: 10px;
}

.hamburger {
    display: none;
}

/* hamburger menu */
.hamburgerMenu {
    display: none;
}

@media all and (max-width: 1024px) {
    .converter {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .navigation {
        display: none;
    }

    .logoRow {
        padding-bottom: 5px;
    }

    .navItems {
        display: none;
    }

    .headerContent {
        padding-top: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .logoRow {
        display: flex;
        justify-content: space-between;
    }

    .title {
        justify-content: space-between;
        background-image: url("/static/mobile-logo.png");
        background-size: cover;
        width: 10rem;
        height: 4.3rem;
        cursor: pointer;
    }

    /* hamburger icon */
    .hamburger {
        cursor: pointer;
        display: inline-block;
        margin-top: 10px;
    }

    .hamburgerMenuOpened {
        display: block;

        cursor: pointer;
        max-height: 220px !important;
    
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        overflow-y: hidden;
        margin-bottom: 15px;
    }
    
    .hamburgerMenuClosed {
        max-height: 0px;

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    
    .hamburgerMenu {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow-y: hidden;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #000;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .toggle .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .toggle .bar2 {
        opacity: 0;
    }
    
    .toggle .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .hamburgerNavItem {
        text-decoration: none;
        font-family: var(--big-font-family);
        font-size: 28px;
        --big-font-color: #D9A5FF; /* what is this? lol */
        margin-top: 20px;
    }

    .headerTop {
        display: none;
    }
}
