.pageTitle {
	font-family: var(--big-font-family);
	font-size: 39px;
}

.postImage {
	margin: auto;
	width: 45em;
	height: auto;
}

.preloadPost {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, .1, 0.5, 1);
	font-family: var(--small-font-family);
}

.slidePostIn {
	max-height: 900000px;
}

.socialPopoverWrapper {
	background: var(--post-tag-color);
	border-radius: 3px;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 30px;
}

.socialIcon {
	width: 25px; 
	height: 25px;
	cursor: pointer;
	text-decoration: none;
}

.preloadRelatedPosts {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, .1, 0.5, 1);
	font-family: var(--small-font-family);
}

.slideRelatedPostsIn {
	max-height: 600px;
}

.slideRelatedPostsOut {
	max-height: 0px;
}

.postTagContainer {
	padding-top: 8px;
    font-family: var(--big-font-family);
    display: flex;
	flex-direction: row;
	align-items: baseline;
}

.postTags {
	display: flex;
	flex-wrap: wrap;
}

.postTag {
	background: var(--post-tag-color);
	margin-left: 10px;
	padding: 8px;
	text-decoration: none;
	cursor: pointer;
	font-family: var(--big-font-family);
    font-size: 16px;
    transition: transform .2s;
}

.postTag:hover {
    transform: scale(1.1);
}

.relatedPostsText {
	font-size: 18px;
}

.postLinks {
	text-decoration: none;
	font-size: 20px;
}

.dimOverlay {
	opacity: 0.3;
}

.postContents {
	white-space: normal;
    font-size: 20px;
    font-family: var(--small-font-family);
}


.moneyPlea {
	font-style: italic;
	font-family: var(--small-font-family);	
}

.noRelatedPostsText {
	font-size: 16px;
}

@media screen and (max-width: 768px) {
	.pageTitle {
		font-family: var(--big-font-family);
		text-align: center;
	}

	.blogLayout {
		font-size: 12px;
	}

	.postTag {
		font-size: 16px;
		margin-top: 10px;
	}

	.postTagContainer {
		padding-bottom: 8px;
		flex-wrap: wrap;
	}

	.relatedPostsText {
		font-size: 17px;
	}

	.postLinks {
		text-decoration: none;
		font-size: 18px;
	}

	.postImage {
		margin-left: auto;
		margin-right: auto;
		width: 28em;
		height: auto;
	}	

	.noRelatedPostsText {
		font-size: 15px;
	}
}