.pageTitle {
	font-family: var(--big-font-family);
	font-size: 39px;
	text-align: center;
}

.postImage {
	margin: auto;
	width: 45em;
	height: auto;
}

.topMatter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

.date {
	font-family: var(--small-font-family);
	font-size: 22px;
	text-align: center;
	margin-block-start: 3px;
	margin-left: 10px;
	margin-right: 50px;
	margin-bottom: 0px;
}

.readingTime {
	font-family: var(--small-font-family);
	font-size: 18px;
	text-align: center;
	margin-block-start: 6px;
	margin-left: 10px;
	margin-right: 50px;
	margin-bottom: 0px;
}

.separator {
	height: 2px;
	background: var(--separator-color);
	margin-top: 10px;
	width: 710px;
}

.preloadPost {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, .1, 0.5, 1);
	font-family: var(--small-font-family);
}

.slidePostIn {
	max-height: 900000px;
}

.socialPopoverWrapper {
	background: var(--post-tag-color);
	border-radius: 3px;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 30px;
}

.socialIcon {
	width: 25px; 
	height: 25px;
	cursor: pointer;
	text-decoration: none;
}









.postContents {
	white-space: normal;
    font-size: 20px;
    font-family: var(--small-font-family);
}


.moneyPlea {
	font-style: italic;
	font-family: var(--small-font-family);	
}


.bottomMatter {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.likesWrapper {
	margin-top: 6px;
}

@media screen and (max-width: 768px) {
	.pageTitle {
		font-family: var(--big-font-family);
		text-align: center;
	}

	.blogLayout {
		font-size: 12px;
	}



	.postImage {
		margin-left: auto;
		margin-right: auto;
		width: 28em;
		height: auto;
	}	


}