:root {
	--post-tag-color: #889194;
	--big-font-color: #D9A5FF;
	--big-font-family: 'Libre Caslon Text', serif;
  --small-font-family: 'Crimson Text', serif;
  --background-color: #D0CFD6;
  --separator-color: #e9ad68;
}


html,
body {
  padding: 0;
  margin: 0;
  background-color: #d0cfd6;
}

.content {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #212324;
}

.topBar {
  background: black;
  padding-bottom: 3px;
  margin-top: 0px;
}

/* this class is used in markdown content, so needs to be here */
.postImageContainer {
  text-align: center;
}

.postImage {
  width: 28em;
  height: auto;
  transition: transform .2s;
}

.postImage:hover {
  transform: scale(1.03) rotate(2deg);
}

.nonMovingPostimage {
  width: 28em;
  height: auto;
}

@media screen and (max-width: 768px) {
  .content {
      width: 90vw;
  }

  .stickyHeader {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-color: var(--background-color);
  }

  code {
      white-space: pre-wrap;
  }

  .postImage {
    text-align: center;
    width: 16em;
    height: auto;
  }

  .nonMovingPostimage {
    text-align: center;
    width: 16em;
    height: auto;
  }
}