:root {
	--post-tag-color: #889194;
	--big-font-color: #D9A5FF;
	--big-font-family: 'Libre Caslon Text', serif;
	--small-font-family: 'Crimson Text', serif;;
}


html,
body {
  padding: 0;
  margin: 0;
  background-color: #d0cfd6;
}

.content {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #212324;
}

.topBar {
  background: black;
  padding-bottom: 3px;
  margin-top: -8px;
}

@media screen and (max-width: 768px) {
  .content {
      width: 90vw;
  }

  .stickyHeader {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
  }

  code {
      white-space: pre-wrap;
  }
}