body,
body[data-theme="light"] {
  --background-color: #d0cfd6;
	--post-tag-color: #889194;
	--big-font-family: 'Libre Caslon Text', serif;
  --small-font-family: 'Crimson Text', serif;
  --separator-color: #e9ad68;
  --warning-color: #fddc33;
  --error-color: #991b1b;
  --loading-color: #348fbd;
  --success-color: #209720;
  --empty-color: hsla(0, 0%, 98%, 0);
  --caption-color: #4b4e4f;
  --color-background-toggle: #d0cfd6;
  --text-color: black;
  --footer-color: black;
  --large-logo-url: url('/static/large-logo.png');
  --mobile-logo-url: url('/static/mobile-logo.png');
}

body[data-theme="dark"] {
  --background-color: #1c1c3c;
  --post-tag-color: #21386e;
	--big-font-family: 'Libre Caslon Text', serif;
  --small-font-family: 'Crimson Text', serif;
  --separator-color: #6079b4;
  --warning-color: #fddc33;
  --error-color: #991b1b;
  --loading-color: #348fbd;
  --success-color: #209720;
  --empty-color: hsla(0, 0%, 98%, 0);
  --caption-color: #4b4e4f;
  --color-background-toggle: #1c1c3c;
  --text-color: #c2c1c5;
  --footer-color: black;
  --large-logo-url: url('/static/large-logo-inverted.png');
  --mobile-logo-url: url('/static/mobile-logo-inverted.png');
}

p, li, a, h1, h2, h3, h4 {
  font-family: var(--small-font-family);
  color: var(--text-color);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

.content {
  width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.topBar {
  background: black;
  padding-bottom: 3px;
  margin-top: 0px;
}

/* this class is used in markdown content, so needs to be here */
.postImageContainer {
  text-align: center;
}

.postImage {
  width: 28em;
  height: auto;
  transition: transform .2s;
}

.postImage:hover {
  transform: scale(1.03) rotate(2deg);
}

.smallPostImage {
  width: 12em;
  height: auto;
  transition: transform .2s; 
}

.smallPostImage:hover {
  transform: scale(1.03) rotate(2deg);
}

.nonMovingPostimage, .portraitNonMovingPostImage {
  width: 28em;
  height: auto;
}

.wideNonMovingPostimage {
  width: 36em;
  height: auto;
}

.captionText {
  text-align: center;
  font-size: 17px;
  font-style: italic;
  margin-top: 0px;
  color: var(--caption-color);
}

.centeredText {
  text-align: center;
}

.rightAlignedText {
  text-align: right;
}

::selection { 
	background-color: #cfd1cf; 
}

.themeToggle {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .content {
      width: 90vw;
  }

  .themeToggle {
    display: none;
  }


  code {
      white-space: pre-wrap;
  }

  .postImage {
    text-align: center;
    width: 16em;
    height: auto;
  }

  .wideNonMovingPostimage {
    width: 16.5em;
    height: auto;
  }

  .nonMovingPostimage {
    text-align: center;
    width: 16em;
    height: auto;
  }
}