.title {
    font-family: var(--big-font-family);
	font-size: 30px;
}

.headerTeaser {
    font-family: var(--small-font-family);
	font-size: 26px;
}

.teaserLink {
	text-decoration: none;
	cursor: pointer;
    font-family: var(--small-font-family);
	font-size: 26px;
	font-style: italic;
	margin-right: 70px;
	background-color: var(--post-tag-color);
	padding: 4px;
	padding-right: 8px;
}

.teaserLinkContainer {
	transition: transform .2s;
}

.teaserLinkContainer:hover {
	transform: scale(1.1);
}

.rightSideLink {
	text-align: end;
}

.dimOverlay {
	opacity: 0.3;
}

.blogsPageTeaserContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -35px;
}

@media screen and (max-width: 768px) {
	.teaserLink {
		text-decoration: none;
		font-family: var(--small-font-family);
		font-size: 26px;
		font-style: italic;
		margin-right: 45px;
	}
}