.wrapper {
    text-align: center;
}

.quotableTitle {
    font-family: var(--big-font-family);
    
}

.quotableContentWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quotableImage {
    max-width: 85%;
    width: 31em;
    margin-left: auto;
    margin-right: auto;
}

.quotableQuoteWrapper {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.quotableQuote {
    font-family: var(--small-font-family);
    font-style: italic;
    font-size: 20px;
    max-width: 29em;
}

.quotableAuthor {
    font-family: var(--small-font-family);
    font-size: 21px;
}

.quotableAdditionalContent {
    font-family: var(--small-font-family);
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.relatedTagsWrapper {
    font-family: var(--small-font-family);
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}