.dimOverlay {
	opacity: 0.3;
}

.summaryBookTitle, .review {
	font-family: var(--big-font-family);
	font-size: 30px;
}

.author {
	font-family: var(--small-font-family);
	font-size: 26px;
}

.metrics {
    display: flex;
    flex-direction: row;
}

.metricsTitles {
	padding-top: 7px;
    padding-right: 10px;
    font-family: var(--big-font-family);
    font-size: 24px;
}

.payoffTitle {
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
}

.metricsMeasures {
	font-size: 28px;
}

.inner {
	display: flex;
	flex-direction: row;
}

.teaserAndButton {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 40px;
}

.teaserWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-right: 5px;
	padding-left: 5px;
}

.socialWrapper {
	border-radius: 3px;
	margin-top: 12px;
	margin-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.socialIcon {
	width: 25px; 
	height: 25px;
	cursor: pointer;
	text-decoration: none;
	transition: transform .2s;
}

.socialIcon:hover {
	transform: scale(1.9);	
}

.summaryBookImage {
	height: 450px;
    width: 325px;
    border-radius: 5px;
    margin-right: 30px;
    transition: transform .2s;
}

.summaryBookImage:hover {
    transform: scale(1.1) rotate(-4deg);
}

.buyButton {
	width: 367px;
	margin-left: -10px;
    transition: transform .2s;
}

.buyButton:hover {
    transform: scale(1.1) rotate(-4deg);
}

.teaser {
	font-style: italic;
    font-family: var(--small-font-family);
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
}

/* post contents html -> markdown formatting */
.summaryContents {
	font-family: var(--small-font-family);
	font-size: 20px;
}

.moneyPlea {
    font-size: 22px;
    font-style: italic;
    font-family: var(--small-font-family);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
	.outer {
		margin-top: 20px;
	}

	.summaryBookTitle {
		font-family: var(--big-font-family);
		font-size: 30px;
		margin-left: 20px;
		margin-bottom: 20px;
		text-align: center;
	}

	.author {
		font-family: var(--small-font-family);
    	font-size: 26px;
		margin-left: 20px;
		text-align: center;
	}

	.metrics {
		display: flex;
    	flex-direction: row;
		margin-left: 20px;
		justify-content: center;
	}

	.summaryBookImage {
		height: auto;
		width: 20em;
		border-radius: 5px;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	.inner {
		display: flex;
		flex-direction: column;
	}

	.bookLink {
		margin-left: auto;
		margin-right: auto;
	}

	.buyButton {
		width: 20em;
	}

	.teaserAndButton {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		margin-top: 20px;
		align-items: center;
		margin-left: 0px;
	}

	.teaser {
		font-style: italic;
		font-family: var(--small-font-family);
		margin-bottom: 25px;
		width: 17em;
		margin-left: auto;
		margin-right: auto;
	}

	.teaserWrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-right: 5px;
		padding-left: 5px;
	}

	.socialWrapper {
		border-radius: 3px;
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 12px;
		padding-right: 12px;
		font-size: 30px;
		display: flex;
		justify-content: center;
	}

	.socialIcon {
		width: 40px; 
		height: 40px;
		cursor: pointer;
		text-decoration: none;
	}
}